body, html
{
    margin : 0;
    padding : 0;
    background-color : #f5f5f5;
}
.container
{
    margin:0 auto;
    width : 80%;
}

div[data-carousel] *
{
    box-sizing : border-box;
}

div[data-carousel] .viewport {

    position : relative;
    overflow : hidden;
    height   : 300px;
}

div[data-carousel] .viewport.transition-active
{
    -webkit-transition : height 0.2s linear;
    -moz-transition : height 0.2s linear;
    -o-transition : height 0.2s linear;
    -ms-transition : height 0.2s linear;
    transition     : height 0.2s linear;      
}

div[data-carousel] .viewport.loading:before
{   
    content : '';
    position : absolute;
    top :0;
    bottom:0;
    left:0;
    right:0;
    background-color:#333333;
    z-index : 1;
}

div[data-carousel] .viewport > ul {
    
    margin:0;
    padding:0;
    list-style:none;
    position: relative;
}

div[data-carousel] .viewport > ul.slide.transition-active
{   
    -webkit-transition : left 0.5s ease-in-out;
    -moz-transition : left 0.5s ease-in-out;
    -o-transition : left 0.5s ease-in-out;
    -ms-transition : left 0.5s ease-in-out;
    transition     : left 0.5s ease-in-out;    
}

div[data-carousel] .no-transition
{
    -webkit-transition : none!important;
    -moz-transition : none!important;
    -o-transition : none!important;
    -ms-transition : none!important;
    transition     : none!important;
}



div[data-carousel] .viewport > ul li {

    float:left;
    position:relative;
}

div[data-carousel] .viewport > ul.fade.transition-active li
{   
    opacity : 0;

    -webkit-transition : opacity 0.5s ease-in-out;
    -moz-transition : opacity 0.5s ease-in-out;
    -o-transition : opacity 0.5s ease-in-out;
    -ms-transition : opacity 0.5s ease-in-out;
    transition : opacity 0.5s ease-in-out;      
}

div[data-carousel] .viewport > ul.fade.transition-active li.active
{
    opacity : 1;
}


div[data-carousel] .viewport > ul li img {

    width:100%;
    height:auto;
    display:block;
    max-height : 300px;
}




















    [data-carousel] ul li .caption {

        position:absolute;
        z-index:9999;
        background-color:rgba(0,0,0,0.7);
        width:100%;
        bottom:0px;
        left:0;
        padding:10px;
        color:#fff;
    }
    a.active {
        font-size:20px;
    }


    [data-carousel] a.direction-next {

        position:absolute;
        height:20px;
        width:20px;
        right:5px;
        top:50%;
        margin-top:-10px;
        z-index:4;
        background-color:rgba(0,0,0,0.8);

    }

    [data-carousel] a.direction-previous {
        position:absolute;
        height:20px;
        width:20px;
        left:5px;
        top:50%;
        margin-top:-10px;
        z-index:4;
        background-color:rgba(0,0,0,0.8);

    }

    [data-carousel] .slider-pagination {

        width:100%;
        list-style:none;
        text-align:center;
        display:block;
        
    }


    [data-carousel] .slider-pagination ul {

        margin:10px 0px;
        display:inline-block;
        padding:5px;
        list-style:none;
    }

    [data-carousel] .slider-pagination li
    {
        float : left;
    }

    [data-carousel] .slider-pagination li a {
        line-height:20px;
        float:left;
        display:inline-block;
        width:10px;
        height:10px;
        margin:0px 3px;
        background-color:#ccc;
        border-radius:20px;
-webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.3);
box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.3);
    }

    [data-carousel] .slider-pagination li a.active {

        background-color:#777;
    }
